.login-form {
  /* text-align: center; */
  margin-top: 4%;
  padding: 40px;
  border: 1px solid #ddd;
  width: 26%;
  margin: 0 auto;
  text-align: center;
}
label {
  display: block;
font-size: 14px;
font-weight: 500;
margin-top: 14px;
text-align: initial;
margin-left: 13%;
margin-bottom: 6px;
}
input {
  width: 250px;
  padding: 10px;
  border: 1px solid #eee;

}

.error{
  color: red;
}

button{
  padding: 10px;
  width: 270px;
  margin-top: 10px;
  background-color: #77dd77;
  border: 0px solid;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  display: block;
  margin: 0 auto;
}

.login-container {
  text-align: center;
}
